{
  printWidth: 140,
  tabWidth: 4,
  useTabs: true,
  singleQuote: true,
  semi: true,
  quoteProps: 'as-needed',
  jsxBracketSameLine: true,
  jsxSingleQuote: true,
  trailingComma: 'all',
  bracketSpacing: false,
  arrowParens: 'avoid',
  endOfLine: 'lf',

  overrides: [
    {files: ['*.{js,jsx}'], options: {parser: 'babel'}},
    {
      files: ['*.json', '.eslintrc', '.eslintignore', '.babelrc', '.prettierrc'],
      options: {
        semi: false,
        parser: 'json',
        singleQuote: false,
        trailingComma: 'none',
        useTabs: false,
        tabWidth: 2,
      },
    },
  ],
}
